 .body
 {
     background-color:  #ededed;
 }
 .page-header h1
 {
    font-family: "Helvetica Neue",Arial,"Lucida Grande",sans-serif;
    font-size:25px;
    color: #00355F;
    font-weight:700;
    padding-bottom:12px;
    
 }
 i.fa.fa-clock-o {
   color: #2f7000;
   font-size: 19px;
   padding-right: 5px;
}
 .confidence-message
 {
    color:#2f7000;
    /* margin-left: 1.6em; */
    font-family: "Helvetica Neue",Arial,"Lucida Grande",sans-serif;
    font-size:15px;
    margin-top:10px;
    margin-bottom: 14px;

 }
 .hotel-details 
 {
    /* about hotel */
    float:right;
 }
 .details
 {
   background-color: #fff;
   padding:18px;


 margin-bottom: 18px; 
}
 .personal-details
      /* About user */
 {
 
 }
 i.fa.fa-user
{
   color:#00355F;
   font-size:25px;
   padding-top:8px;
}
 .welcome-msg
 {
    color: #2f7000;
   font-size:13px;
   font-weight: bold;
   display:inline;
   font-family: "Helvetica Neue",Arial,"Lucida Grande",sans-serif;
 }
 .room-warning
 {
    margin-bottom:0px;
 }
 i.fa.fa-check
 {
    color:#2f7000;
    font-size:12px;
 }
 .facility
 {
    color:#2f7000;
    font-size:13px;
 }
 .form-group
   {
      width:80%;
       
   }
   
   .form-control:focus {
      border-color: black;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(10, 10, 10, 0.952);
  }
   .form-group label {
      font-size: 13px;
      font-weight: 700;
      font-size: 13px;
      line-height: 1.4;
      color: #616161;
      font-weight: 600;
      display: block;
      margin-top: 10px;
  }
  input.form-control {
   
   border-top-color: gray;
   border-top-width: 1px;
   width: 85%;
}
   .form-check label
   {
      font-size:13px;
   }
   .fa.fa-credit-card
   {
      color:#00355F;
       
      font-size:20px;
      
   }
   .card-security
   {
      color:#2f7000;
      font-size:13px

   }
   .gape
   {
      padding-left:10px;
   }
  .credit-debit
   {
      color: #00255F;
      font-size: 13px;
      font-family: "Helvetica Neue",Arial,"Lucida Grande",sans-serif;

   }
   .card-pic img
    /* CARD PICS */
   {
      width:40px;
      padding:2px;
   }
   .holder-input
   /* Cardholder inputapp.module. */
   {}
  
   .card-num-input {
      /* Card number input type text */
      width: 60%;
  }
  .dropdown-toggle
  /* Dropdown */
  {
     border: 1px solid gray;
     border-radius: 2px;
     margin-right:5px;
  }
  .cvv-number
  {
     width:30%;
     margin-bottom:18px;
  }
  .fa.fa-envelope
  {
   color:#00355F;
   font-size:25px;
   padding:12px;
   padding-top:20px;
   
  }
  .Confirm-section
  {
     background-color: #fff;
     margin-top:8px;
  }
  .confirm-booking
      /* booking confirmation by genrating password and mail */
      {
   background-color:#f5f5f5;
   align-item:center;
   padding-left:13px;
   margin-bottom:20px;
   
  }
  .confirm-mail
  {   
     /* confirm your mail input box */
     margin-top:15px;
     marign-bottom:0;
     color: #616161;
     font-size:13px;
     font-family: "Helvetica Neue",Arial,"Lucida Grande",sans-serif;     
  }
.manage-booking
{
   font-size:17px;
   font-family: "Helvetica Neue",Arial,"Lucida Grande",sans-serif;  
   margin-bottom:17px;
   font-weight:bold;
}
.option
   /* what convenience a hotel is provide */
{
   color:#2f7000;
   font-size: 13px;
   margin-right:10px;
}
.password-input

{
   width:60%;
}
.instruction
{
   margin-top:8px;
   background-color: #fff;
}
.imp-info
/* imp info about your booking */
{
   font-size:15px;
   font-family: "Helvetica Neue",Arial,"Lucida Grande",sans-serif;  
   padding:15px;
   font-weight: bold;

}
.instruction-points
{
   padding:10px;
}
.instruction-points ul li
{
   padding-bottom:10px;
   font-size:13px;
   font-weight:300;
   font-family: "Helvetica Neue",Arial,"Lucida Grande",sans-serif;  

}
.btn.confrim
/* Confirm booking button */
{
   background-color:#ffbe00;
   color:black;
    
   margin-left:25px;
   font-weight:bold;
   width:50%;
   font-size:18px;
}
.fa-angle-right
{
   font-size:20px;
   padding:8px;
}

@media screen and (max-width:768px)
{

   .fa.fa-envelope , .fa.fa-user , .fa.fa-credit-card
   {
      display:none;
   }
   .Confirm-section   {
      padding-left:10px;
   }
   .option
   {
      width:95%;
      margin-left:13px;
   }
   .gape
   {
      display:block;
   }
   .btn.confrim
   {
      width:auto;
   }
}