
<div class="container">
  <div class="about-hotel">
  <div class="row">
    <div class="col-md-7 hotel-img">
      <img src="../assets/hotelpic1.jpg">
    </div>
    <div class="col-md-5 hotel-info">
      <div>
        <h4> LAKE CITY PALACE </h4>
        <span class="hotel-location"><i class="fa fa-map-marker" aria-hidden="true"></i> Udaipur, Rajasthan</span>
        <div class="offers">
          <span class="standard"> Standard</span>
          <span class="standard"><i class="fa fa-coffee"></i> Cafe</span>
          <span class="standard"> <i class="fa fa-bell-slash-o" aria-hidden="true"></i>Slient Zone </span>
        </div>
        <div class="rating">
          <img src="./assets/rating.svg"> <span>85 Reviews</span>
        </div>
      </div>
      <div class="price">
        <span class="rate">₹2400</span> <span class="Refundable"> Refundable</span>
        <p class="hotel-location">Tax incl. price for 1 month</p>
        <button type="button" class="btn btn-success">Book now</button>
      </div>
    </div>
  </div>
</div>
 
 
  <div class="background-body"> 
   
   
  <div class="facility">
    <div class="row">

      <div class="col-md-4 col-4 ">
        <p><i class="fa fa-snowflake-o" aria-hidden="true"></i><span>Ac Area</span></p>
        <p><span><i class="fa fa-plug" aria-hidden="true"></i>Plugs</span></p>
        <p><i class="fa fa-shower" aria-hidden="true"></i><span>Toilet</span></p>
        <p> <i class="fa fa-coffee" aria-hidden="true"></i><span>tea  <span class="d-none d-sm-block"> coffee</span></span></p>
      </div>

      <div class="col-md-4 col-4 ">
        <p><i class="fa fa-clock-o" aria-hidden="true"></i><span>24 Hour <span class="d-none d-sm-block">Security</span></span></p>
        <p><span><i class="fa fa-cutlery" aria-hidden="true"></i>Food</span></p>
        <p><span>Smoking Room</span></p>

      </div>

      <div class="col-md-4 col-4">
        <p><i class="fa fa-credit-card-alt" aria-hidden="true"></i><span>Card <span class="d-none d-sm-block">Payment Accepted</span></span></p>

        <p><span><i class="fa fa-tv" aria-hidden="true"></i>TV</span></p>
        <p><i class="fa fa-cutlery" aria-hidden="true"></i><span>Service</span></p>

      </div>


    </div>
  </div>
  <div class="near-by-landmarks">
    <div class="row">
      <div class="full">
        <h4>NEARBY PLACES AND LANDMARKS</h4>
        <hr>
      </div>
      <div class="col-md-6  restro">

        <h6> Nearby Malls & Restaurants</h6>
        <div class="row">
          <div class="col-md-8 col-8 restro-name">
            <p>Mohan Restaurant</p>
            <p>Topaz Restaurant</p>
            <p>Kaveri Restaurant</p>
            <p>Davat Restaurant</p>
            <p>Dragon House</p>
          </div>
          <div class="col-md-3 col-3 restro-distance">
            <p>0.1 Km</p>
            <p>0.1 Km</p>
            <p>0.3 Km</p>
            <p>0.3 Km</p>
            <p>0.6 Km</p>

          </div>
        </div>
      </div>
      <div class="col-md-6 stands">
        <h6>Closest Airport, Railway Station & Bus Stand</h6>
        <div class="row">
          <div class="col-md-8 col-8 station-name">
            <p>Sindhi Camp Bus Station</p>
            <p>Jaipur Junction Railway Station</p>
            <p>Jaipur Bus Stand</p>
            <p>Narayan Singh Circle Bus Stand</p>
            <p>Roadways Bus Stand</p>
            <p>Jaipur International Airport
            </p>

          </div>
          <div class="col-md-3 col-3 station-distance">
            <p>0.5 Km</p>
            <p>0.9 Km</p>
            <p>2.2 Km</p>
            <p>2.8 Km</p>
            <p>5.1 Km</p>
            <p>10.3 Km</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
