
.background-body
{
    background-color:#e7e6e6;
    width:50%;
    margin:auto;
    
    
}
.container
{
    margin-top:30px;
}
.page-body
{
    align:center;
    box-shadow: 2px 2px 2px 2px #9b9b9b;

    background-color:#fff;
}
 .hotel-info
 /* Name of hotel */
 {
     padding:10px;
     font-family: "Roboto";
 }
 
 .item img
 {
     width: 100%;

 }

 
.facility
{
         
        background-color: white;
        
         
        box-shadow: 2px 2px 2px 2px #9b9b9b;
        
         padding:10px;
        
}
.facility  span
{
    color: #9b9b9b;
    font-size: 14px;

}
.facility   i
{
    margin:5px;
}
.facility .fa
{
    color:black;
    margin-right:10px;
}
.card-body 
     /* collapse body */
{
    padding: 0;
}
.card
 {
     border:none;
 }
 
 .rate
 /* rate and book section i.e fixed */
 {
     position:fixed;
     background-color: red;
     bottom: 0;
     width:50%;
     height:5%;
 }
 .price
 {
     float: left;
     padding:10px;
 }
 .btn-book
 {
     float: right;
     padding:10px;
 }
@media only screen and (max-width: 768px) {
 .background-body
 {
     width:80%;
 }
 
    .hotel-info h4
  /* hotel name */
 {
      font-size: 16px;
      margin: 0%;
 }
  .hotel-info span
   /* location of the hotel */
  {
      font-size: 12px;
  }
   
 .facility .fa
 /* font awesom of .facility */
{

    display: none;
}
 .facility span
 {
     font-size: 12px;
      
 }
 .facility .col-md-3
 {
     padding: 0;
     margin-left:14px;
 }
 
}
@media (min-width: 576px)
{
    .facility span  .d-sm-block {
    display: inline-block !important;
     margin-bottom: 0;
}
}
@media (max-width:400px)
{
 .facility .fa
 {
     display: none;
 }


}