 
.container
{
    margin-top:30px;
}
.page-body
{
    align:center;
    box-shadow: 2px 2px 2px 2px #e7e4e4;
    background-color:#fff;
}
 .hotel-info
 /* Name of hotel */
 {
     padding:10px;
     font-family: "Roboto";
 }
 
 .item img
 {
     width: 100%;
     height: 20%;
     }

 
.facility
{
         
        background-color: white;
        
         padding: 0 10px;
         box-shadow: 0 8px 4px -9px black;
         box-shadow: 2px 2px 2px 2px #e7e4e4;
        
}
.facility  span
{
    color: #9b9b9b;
    font-size: 12px;

}
.facility   i
{
    margin:5px;
}
.facility .fa
{
    color:black;
    margin-right:10px;
}
.main-offer
{
    margin-bottom:0;
}
 
 
  
 .price
 {
     float: left;
     padding:10px;
 }
 
 .more-hotel
 {
     float:right;
     padding:10px;
 }
  
@media only screen and (max-width: 768px) {
 .background-body
 {
     width:80%;
 }
 
    .hotel-info h4
  /* hotel name */
 {
      font-size: 16px;
      margin: 0%;
 }
  .hotel-info span
   /* location of the hotel */
  {
      font-size: 12px;
  }
   
 
 .facility span
 {
     font-size: 14px;
      
 }
 .facility .col-md-3
 {
     padding: 0;
     margin-left:14px;
 }
 .facility .col-md-4.col-4 {
    padding: 0;
}
 
}
@media (max-width: 576px)
{
    .facility span  .d-sm-block {
    display: inline-block !important;
     margin-bottom: 0;
}
.facility span
{
    font-size: 10px;
     
}
}

@media (max-width:400px)
{
 .facility span
 {
     display: none;
 }
 .facility .fa
 {
     /* display: inline; */
 }


}
/* @media (ma) */