<div class="container">
  <div class="row">
    <div class="col-md-7 hotel-img">
      <img src="../assets/hotelpic1.jpg">
    </div>
    <div class="col-md-5 hotel-info">

      <h4> LAKE CITY PALACE </h4>
      <span class="hotel-location"><i class="fa fa-map-marker" aria-hidden="true"></i>Udaipur, Rajasthan</span>
      <div class="facility">
        <span class="standard"> Standard</span>
        <span class="standard"><i class="fa fa-hotel"></i> Hotel</span>
        <span class="standard"> <i class="fas fa-user-friends"></i>Couple friendly </span>
      </div>
      <div class="rating">
        <img src="./assets/rating.svg"> <span>85 Reviews</span>
      </div>
      <div class="price">
        <span class="rate">₹2400</span> <span class="Refundable"> Refundable</span>
        <p class="hotel-location">Tax incl. price for 1 night</p>
        <button type="button" class="btn btn-success">Book now</button>
      </div>
    </div>
  </div>
  
   <div class="row">
      <div class="trust-section">
    <div class="col-md-3 trust-img">
        <img src="./assets/trust-img.jpg"> 
    </div>
    <div class="col-md-9 promise-content">
      <div><span><i class="fa fa-bed" aria-hidden="true"></i>Perfect stay or Don't pay</span></div>
      <p> <span><i class="	fa fa-thumbs-o-up"></i>100% money-back promise.</span> 
      
        <span><i class="	fa fa-heart-o"></i>Best in class service</span>
        <span> <i class="fa fa-coffee"></i>Food</span>
        <span> <i class="	fa fa-gratipay"></i>Assured Room Amenities</span></p>
    </div>
   </div> 


  </div>
</div>