<div class="container">
  <div class="row">
    <div class="col-md-7 hotel-img">
      <img src="../assets/hotelpic1.jpg">
    </div>
    <div class="col-md-5 hotel-info">
      <div>      <h4> LAKE CITY PALACE </h4>
      <span class="hotel-location"><i class="fa fa-map-marker" aria-hidden="true"></i>Udaipur, Rajasthan</span>
      <div class="offers">
        <span class="standard"> Standard</span>
        <span class="standard"><i class="fa fa-hotel"></i> Cafe</span>
        <span class="standard"> <i class="fas fa-user-friends"></i>Slient Zone </span>
      </div>
      <div class="rating">
        <img src="./assets/rating.svg"> <span>85 Reviews</span>
      </div>
    </div>

      <div class="price mb-2">
        <span class="rate">₹2400</span> <span class="Refundable"> Refundable</span>
        <p class="hotel-location">Tax incl. price for 1 month</p>
        <button type="button" class="btn btn-success">Book now</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="trust-section">
      <div class="col-md-3 trust-img">
        <img src="./assets/trust-img.jpg">
      </div>
      <div class="col-md-9 promise-content">
        <div><span><i class="fa fa-bed" aria-hidden="true"></i>Perfect stay or Don't pay</span></div>
        <p> <span><i class="	fa fa-thumbs-o-up"></i>100% money-back promise.</span>

          <span><i class="fa fa-heart-o"></i>Best in class service</span>
          <span> <i class="fa fa-coffee"></i>Food</span>
          <span> <i class="	fa fa-gratipay"></i>Assured Space Amenities</span></p>
      </div>
    </div>
  </div>
  <div class="facility">
  <div class="row">
   
      <div class="col-md-4 ">
        <p><i class="fa fa-snowflake-o" aria-hidden="true"></i><span>Ac Area</span></p>
        <p><span><i class="fa fa-plug" aria-hidden="true"></i>Plugs</span></p>
        <p><i class="fa fa-shower" aria-hidden="true"></i><span >Complimentary Toiletries</span></p>
          <p> <i class="fa fa-coffee" aria-hidden="true"></i><span>Complimentary tea coffee</span></p>
      </div>

      <div class="col-md-4">
        <p><i class="fa fa-sheild" aria-hidden="true" ></i><span>24 Hour Security</span></p>
         <p><span><i class="fa fa-cutlery" aria-hidden="true" ></i> Food </span></p>
        <p><span>Smoking Room</span></p>

      </div>

      <div class="col-md-4">
        <p><i class="fa fa-credit-card-alt" aria-hidden="true"></i><span>Card Payment Accepted</span></p>

        <p><span><i class="fa fa-tv" aria-hidden="true"></i>TV</span></p>
        <p><i class="fa fa-cutlery" aria-hidden="true"></i><span>Room Service</span></p>

      </div>


    </div>
  </div>
</div>