.container
{
    margin-top:30px;
}
 
   
.hotel-img img
        /* hotel img */
{
    height:400px;
    width:100%;
    padding:10px;
}
.hotel-info
{
display: flex;
flex-direction: column;
justify-content: space-between;
font-style:"Averta";
font-size: 24px;
background-color: white;
margin: 10px 0px;
}
.hotel-info h4
            /* hotel name */
{

    color: #4a4a4a;
    font-family: Averta;
    font-weight: 800;   
     
    margin-bottom:0;
     
}
.hotel-location
        /* where hotel exist */
{

color:#9b9b9b;
font-family: roboto;
font-size:16px;    
margin-bottom:8px;
}
.offers
        /* Hotel may provide */
{   
    
    color:rgb(0,132,163);
}
.standard
{
    border:1px  solid;
    margin-right:5px;
    padding:3px;
    height: 10px;
    width:auto;
    font-size:12px;
}
.rating span 
{
    color:#0EB550;
    font-size:14px;
    font-style:roboto;
}
.price
{
    display: inline;
    margin-bottom: 7%;
}
.rate
{
    font-size:25px;
}
.Refundable
        /* Money refund */
{
    color:#0EB550;
    font-size:16px;
    font-style:roboto;
}
.btn.btn-success
{
    height: 50%;
    width: 50%;
}
.trust-section
{
    background-color: rgb(0,132,163);
    display: inherit;
    margin-left:10px;
    border:1px solid gray;
    box-shadow: 4px 4px 2px 2px rgb(207, 206, 206);
}
.trust-img img
        /* .trust-img  */
{
    height: auto;
    width: 100%;
     
    padding: 15px;
}
.promise-content
    /* promises that is placed in trust section */
{
 /* margin:auto;    */
 color:white;
 margin:auto;   
 
}
.promise-content span
{   margin:10px;
    
    font-size:14px;
    font-weight:bold;
}
.promise-content i
{
    margin:5px;
}
.facility
{
        margin-top:30px;
        background-color: white;
        margin-bottom: 20px;
        border:1px solid black;
        box-shadow: 4px 4px 2px 2px rgb(207, 206, 206);
        padding:10px;
}
.facility  span
{
    color: #9b9b9b;

}
.facility   i
{
    margin:5px;
}
.facility .fa
{
    color:black;
    margin-right:20px;
}

.full{
    width: 100%;
    margin-left:15px;
    padding:5px;
}
.restro
{
    
}
.restro h4
    /* near by places of located cafe */
{
 margin-left:10px;
margin-top:20px;
font-family:"Averta";
font-size: 24px;
font-weight: 800;
}
.near-by-landmarks
{
    background-color: white;
    border: 1px solid black;
    box-shadow: 4px 4px 1px 1px  rgb(207, 206, 206);
    
}
.restro p , .stands p
/* restro name and its distance */

{
    margin:0;  
    padding-left:5px;    
}

.restro-name p , .restro-distance p, .station-name p, .station-distance p

{
     color: #9b9b9b;
}
@media only screen and (max-width: 768px) {
 .hotel-info
 {
     margin-left:10px;
 }
.btn.btn-success
{
    width:50%;
    margin-bottom:20px;
}
.trust-img img
{
     
    padding-top: 40px;
}
.promise-content span
{
    display: table;
}
.stands
/* about stations distace */
{
    margin-top:15px;
}
}