<header>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <header class="header">
      <div class="container">
      <div class="row  imp-area ">

        <div class=" col-4 col-sm-3 ">
          <div class="hotel-pic">
            <img src="./../assets/building.jpg" />
          </div>

        </div>
        <div class="col-7 col-sm-9">
          <div class="row">
            <div class="col-sm-6 ">
              <h4>Rajgarh</h4>
              <i class="fa fa-star"></i><i class="fa fa-star"></i> <span> Cafe </span>
              <p><i class="fa fa-map-marker" aria-hidden="true"></i>Udaipur,5 km to City centre</p>
              <p><b>Excellent</b>(10 reviews)
                Good service </p>
            </div>
            <div class=" col-sm-3  ">
              <p> ₹4000 </p>
              <a class="col d-none d-xl-block"> Per person</a><br>
              <a class="col d-none d-xl-block">Free-cancellation </a>
              <input type="button" name="view-deal" value="view deal" class="btn btn-success" />
            </div>
          </div>
        </div>
      </div>
   
    
      <div class="row  imp-area">
        <div class=" col-4 col-sm-3 ">
          <div class="hotel-pic">
            <img src="./../assets/building.jpg" />
          </div>
        </div>
        <div class="col-7 col-sm-9   ">
          <div class="row">
            <div class="col-sm-6 ">
              <h4>Lake view </h4>
              <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                class="fa fa-star"></i><span> Cafe </span>
              <p><i class="fa fa-map-marker" aria-hidden="true"></i> Delhi,5 km to City centre</p>
              <p ><b>Excellent</b>(160 reviews) <br>
                Extremely Clean , Excellent servive </p>
            </div>
            <div class="col-sm-3  ">
              <p> ₹9000 </p>
              <a class="col d-none d-xl-block"> Per person</a><br>
              <a class="col d-none d-xl-block" >Free-cancellation </a>
              <input type="button" name="view-deal" value="view deal" class="btn btn-success" />
            </div>
          </div>
        </div>
      </div>
   
      <div class="row imp-area">

        <div class=" col-4 col-sm-3 ">
          <div class="hotel-pic">
            <img src="./../assets/building.jpg" />
          </div>
        </div>
        <div class="col-7 col-sm-9   ">
          <div class="row">
            <div class="col-sm-6  ">
              <h4>Swan suites </h4>
              <span> Cafe</span>
              <p> <i class="fa fa-map-marker" aria-hidden="true"></i> Delhi, 12.8 km to City centre </p>
              <p><b>Excellent</b>(160 reviews) <br>
                Extremely Clean , Excellent servive </p>
            </div>
            <div class=" col-sm-3  ">
              <p> ₹2000 </p>
              <a class="col d-none d-xl-block"> Per person</a><br>
              <a class="col d-none d-xl-block">Free-cancellation </a>
              <input type="button" name="view-deal" value="view deal" class="btn btn-success" />

            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- FOOTER SECTION   -->
  <footer>
    <div class="footer">
      <div class="container footer-content">
        <div class="row footer-head">
          <div class=" col-md-6">
            <p>Want to receive exclusive hotel offers? Subscribe to our newsletter!</p>
          </div>
          <div class="col-md-5 mail">

            <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Mail</span>
              </div>
              <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
              <input type="button" name="Subscribe" value="Subscribe">
            </div>
          </div>

          <hr>
        </div>
        <div class="row social">

          <div class="col-md-5  ">
            <p>trivago N.V., Kesselstraße 5 – 7, 40221 Düsseldorf, Germany</p>
          </div>

          <br>
          <div class="col-lg-10 social-icon">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-google"></a>

            <a href="#" class="fa fa-youtube"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-pinterest"></a>
          </div>
        </div><br>
        <div class="row tool">
          <div class="col-sm-4">
            <a href="">Company</a><br>
            <a href="">Career</a><br>
            <a href="">Jobs</a><br>
            <a href="">Press</a><br>
            <a href="">Investor Relations</a><br>
            <a href="">Expedia</a><br>
          </div>
          <div class="col-sm-4">
            <a href="">Mobile apps - searching on the go</a><br>
            <a href="">trivago Hotel Manager - for hoteliers</a><br>
          </div>

          <div class="col-sm-4">
            <a href="">Help</a><br>
            <a href="">Learn how trivago works</a><br>
            <a href="">Terms and Conditions</a><br>
            <a href="">Legal Information</a><br>
            <a href="">Privacy Policy</a><br>
            <a href="">Site Map</a><br>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <div class="last-footer">
    <h2 class="icon">trivago</h2>
    <p>Copyright 2019 trivago | All rights reserved.</p>
  </div>