<div class="container detailmain">
  <form class="detail-form">

    <div class="row">
      <div class="col-md-7">
          <h1>jack London Inn</h1>
          <span class="address">Ahemdabad</span>
          <span class="city">Ahemdabad</span>  
          <span class="city">Surat</span>
          <span class="phone">7737345265</span>
        </div>
      <div class="col-md-5">
          <h1>Nightly price per room</h1>
          <a  class="price"> Rs-5,477  </a>
          <button type="button" class="btn-secondary btn-action btn1"><span class="btn-label">Reserve
            </span></button>
           
      </div>
    </div>
   <div class="linker">
      <ul>
        <li>
          <a>photos</a>
        </li>
      </ul>
      <ul>
          <li>
            <a>Rooms</a>
          </li>
        </ul>
        <ul>
            <li>
              <a> Amenities</a>
            </li>
          </ul>
          <ul>
              <li>
                <a>Reviews</a>
              </li>
            </ul>
            <ul>
                <li>
                  <a>Policies</a>
                </li>
              </ul>
            </div>            
  </form>
  <div id="demo" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
          <div class="carousel-item active"> 
  <img src="../../assets/img/10.jpg">
</div> 
<div class="carousel-item">
    <img src="../../assets/img/3.jpg">
  </div> 
  <div class="carousel-item">
      <img src="../../assets/img/4.jpg">
    </div> 
    <div class="carousel-item">
        <img src="../../assets/img/6.jpg">
      </div> 
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
</div>
